In [5]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5!=0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [6]:
#factorial
num = int(input("Enter a number: "))
factorial = 1
if num > 0:
   for i in range(1,num + 1):
       factorial = factorial*i
   print(num,"factorial is",factorial)

Enter a number: 8
8 factorial is 40320

In [41]:
#num = int(input("Enter a number: "))
#res=0
#if num > 0:
 #  for i in range(1,num+1):
  #      res = i*i;
   #     print(i,":",res, end =', ') 

num = int(input("Enter a number: "))
b=dict()
for i in range(1,num+1):
    b[i]=i*i
print(b)

Enter a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
values = input("Input some comma seprated numbers : ")
l=values.split(",")
t=tuple(l)
print (l)
print (t)

Input some comma seprated numbers : 1 2 3 4 5
['1 2 3 4 5']
('1 2 3 4 5',)

In [15]:
number = int(input("numbers : "))
square = number**2
print (square)

numbers : 6
36

In [17]:

def SumFunction(number1, number2):
    return number1+number2
print (SumFunction(10,10))

20

In [21]:
def printValue(n):
    print (str(n))
printValue(5)

5

In [25]:
def recivedValue(a,b):
    print (int(a)+int(b))
recivedValue("10","10")

20

In [29]:
def printValue(s1,s2):
    print (s1+s2)
printValue("2","9")

29

In [34]:
def recivedValue(s1,s2):
    len1=len(s1)
    len2=len(s2)
    if (len1>len2):
        print(s1)
    elif (len2>len1):
        print(s2)
    else :
        print(s1)
        print(s2)
    
recivedValue("Bangalore","Bangalore")

Bangalore
Bangalore

In [71]:
def number(n):
    if (n%2==0):
        print("It is an even number")
    else :
            print("It is an odd number")
number(4)

It is an even number

In [56]:
def Dict():
    d=dict()
    d[1]=1
    d[2]=2*2
    d[3]=3*3
    print (d)
Dict()

{1: 1, 2: 4, 3: 9}

In [66]:
num =20
def printDict():
    dic=dict()  
    for j in range(1,num+1):
        dic[j]=j**2
    print(dic)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [9]:
def printDict():
    d=dict()  
    for j in range(1,21):
        d[j]=j**2
    for (k,v) in d.items():
        print(v)
    
printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [10]:
def printDict():
    d=dict()  
    for j in range(1,21):
        d[j]=j**2
    for (k,v) in d.items():
        print(k)
    
printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
def printList():
    
    res=list()  
    for i in range(1,21):
        res.append(i**2)
    print (res)
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [22]:
def printList():
    
    res=list()  
    for i in range(1,21):
        res.append(i**2)
    
    print (res[0:5])
printList()

[1, 4, 9, 16, 25]

In [25]:
def printList():
    
    res=list()  
    for i in range(1,21):
        res.append(i**2)
    
    print (res[15:])
printList()

[256, 289, 324, 361, 400]

In [26]:
def printList():
    
    res=list()  
    for i in range(1,21):
        res.append(i**2)
    
    print (res[5:])
printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [28]:
def printtuple():
    
    res=list()  
    for i in range(1,21):
        res.append(i**2)
    
    print (tuple(res))
printtuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [45]:
tup= (10,9,8,7,6,5,4,3,2,1)
tup1=tup[0:5]
tup2=tup[5:10]
print (tup1)
print (tup2)

(10, 9, 8, 7, 6)
(5, 4, 3, 2, 1)

In [2]:
tup =(1,2,3,4,5,6,7,8,9,10)
li = list()
for i in range(10):
       if (tup[i]%2==0):
            li.append(tup[i])
tp2=tuple(li)
print (tp2)

(2, 4, 6, 8, 10)

In [14]:
s = str(input("enter the string: "))
if s=='yes' or s=='YES' or s=='Yes':
    print ('yes')
else:
        print('No')

enter the string: yes
yes

In [16]:
num=[1,2,3,4,5,6,7,8,9,10]
evennum=list(filter(lambda x:x%2==0,num))
print(evennum)

[2, 4, 6, 8, 10]

In [24]:
num=[1,2,3,4,5,6,7,8,9,10]
value=list(map(lambda x:x**2,num))
print(value)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
num=[1,2,3,4,5,6,7,8,9,10]
value=list(map(lambda x:x**2,filter(lambda x:x%2==0,num)))
print(value)

[4, 16, 36, 64, 100]

In [39]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for x in range(21):
    even = list(filter(lambda x:x%2==0,num))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
sqr=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for x in range(21):
    sqr = list(map(lambda x:x**2,num))
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]